body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f0f0f0; /* Light grey background */
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #C5E3DB;
    color: #635A57;
    padding: 1em 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1em;
}

nav ul li a {
    color: #635A57;
    text-decoration: none;
}

main {
    padding: 2em;
    text-align: center;
}

h2 {
    text-align: center;
}

footer {
    background-color: #f0f0f0;
    color: #635a57;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
