body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f0f0f0; /* Light grey background */
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #C5E3DB;
    color: white;
    padding: 1em 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 2em;
}

footer {
    background-color: #C5E3DB;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.carousel {
    display: flex;
    overflow: hidden;
    width: 100%;
}

.carousel img {
    width: 50%;
    transition: transform 0.5s ease-in-out;
}
